body {
    padding: 20px;
	/* background:
    url(dwen_lg.gif) center right no-repeat; */
}

header#page-header {
  color: #FDFFC0;
  background: #201A16;
  padding: 5px;
  border-bottom: 3px solid darken(#237CBE, 10%);
  text-align: center;
}

footer#page-footer {
  color: #FDFFC0;
  background: #201A16;
  text-align: center;
  padding: 5px;
  border-top: 3px solid darken(#F0F0F0, 10%);
}

aside#sidebar {
  float: left;
  border-radius: 25px;
  padding: 20px; 
  background: #FDDEA6;
  width: 200px; 
  margin: 10px;  
}

table.noborder {
  border: 0;
  border-collapse: collapse;
}

table.noborder td, th {
   border:none;
}

table {
	border-style: 0px solid brown;
	border-collapse: collapse;
}


td {
	border: 1px solid brown;
}


